:root {
  --primari-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --first-bcg-color: #2f303a;
  --second-bcg-color: #f5f4fa;
  --link-color: #2196f3;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0, 03em;
  background-color: #ffffff;
  color: var(--primari-text-color);
}

/* header */

.header-content .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0, 03em;
  text-decoration: none;
  color: var(--second-logo-color);
}

.logo-web {
  color: var(--first-logo-color);
}

.header-link,
.contact-link {
  list-style: none;
}

.header-content .link:hover,
.header-content .link:focus {
  color: var(--link-color);
}

.header-link .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0, 02em;
  color: var(--title-text-color);
}

.header-link .link.current {
  color: var(--link-color);
}

.contact-link .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}

/* main */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* portfolio buttons */

.button-list {
  list-style: none;
}

.buttons .button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--second-bcg-color);
  color: var(--title-text-color);
}

.button-list .button:hover,
.button-list .button:focus {
  background-color: var(--link-color);
  color: var(--secondary-text-color);
}

/* projects */

.project .project-list {
  list-style: none;
}

.project .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

/* title*/

.heroe {
  background-color: var(--first-bcg-color);
}

.heroe .heroe-title {
  color: var(--secondary-text-color);
}

.heroe .heroe-button {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-text-color);
  background-color: var(--link-color);
}

.heroe-button:hover,
.heroe-button:focus {
  color: var(--second-logo-color);
}

/* skills */

.skill-list {
  list-style: none;
}

.skill-list .skill-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.skill-list .skill-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* our work */

.work {
  background-color: var(--second-bcg-color);
}

.work .work-title {
  color: var(--title-text-color);
}

.work-list {
  list-style: none;
}

/* our team */

.team .team-list {
  list-style: none;
}

.team .team-title {
  color: var(--title-text-color);
}

.team .team-name {
  color: var(--title-text-color);
}

/* footer */

.footer-link {
  list-style: none;
}

.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--link-color);
}

.footer-link .link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.map-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.map-link:hover,
.map-link:focus {
  color: var(--link-color);
}

.footer-content {
  background-color: var(--first-bcg-color);
}

.footer-content .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
