

body {
    font-family: 'Raleway',
            sans-serif;
        font-family: 'Roboto',
            sans-serif;
}


.logo {
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;   
letter-spacing: 0.03em;
color: black;
text-decoration: none;
    
}

.logo-web {
    color: #2196F3;
   
}